@model DriVR_Web.Logic.Question;
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Vraag aanmaken</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Vraagtekst
                <input asp-for="QuestionText" class="form-control" />
                <span asp-validation-for="QuestionText" class="text-danger"></span>
            </div>
            <div class="form-group">
                Antwoord 1
                <input asp-for="AnswerOne" class="form-control" />
                <span asp-validation-for="AnswerOne" class="text-danger"></span>
            </div>
            <div class="form-group">
                Antwoord 2
                <input asp-for="AnswerTwo" class="form-control" />
                <span asp-validation-for="AnswerTwo" class="text-danger"></span>
            </div>
            <div class="form-group">
                Antwoord 3
                <input asp-for="AnswerThree" class="form-control" />
                <span asp-validation-for="AnswerThree" class="text-danger"></span>
            </div>
            <div class="form-group">
                Nummer van het juiste antwoord
                <input asp-for="CorrectAnswer" class="form-control" />
                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                Afbeelding URL
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Vraag aanmaken" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Overview">Terug naar overzicht</a>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}